
.super-container{
    height: 80vh;
    width: 50vw;
    padding-bottom: 32px;
    position: fixed;
    top: 0;
    left: 35%;
    background: white;
}

.login-container{
    background-color: white;
    padding: 32px;
    border:1px solid black;
}
.password{
    margin-top: 24px;
}
.close-icon{
    margin-left: 100%;
}
.login{
    height: 100%;
    width: 100vw;
    padding-left: 12.5%;
    padding-top: 38px;
}

.super-container input{
    height: 24px;
    width: 100%;
    padding: 8px;
    outline: none;
    background: #FCFDFE;
    border: 1px solid #F0F1F7;
    border-radius: 8px;
}
.super-container  button{
    height: 40px;
    width: 100%;
    padding: 8px;
    background: #3751FF;
    box-shadow: 0px 4px 12px rgba(55, 81, 255, 0.24);
    border-radius: 8px;
    color: white;
    margin-top: 24px;
}

.having-issues{
    margin-top: 72px;
    text-align: center;
    color: var(--primary-color);
}

.inner{
    position: relative;
    left: 21.88%;
    right: 21.88%;
    top: 18.75%;
    bottom: 15.62%;
    background: linear-gradient(143.7deg, rgba(12, 244, 77, 0.7) 0%, #FFFFFF 100%);
    filter: blur(2px);
    height: 21px;
    width: 18px;
}

.outer{
    height: 32px;
    width: 32px;
    background: #3751FF;
    border-radius: 50%;
}
.text{
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.4px;
    opacity: 0.7;
}
.logo{
    width: 220px;
}
.subheading{
    color: #9FA2B4;
    margin-top: 16px;
    margin-bottom: 16px;
}
.heading{
font-family: 'Mulish';
font-weight: 700;
font-size: 24px;
line-height: 30px;
letter-spacing: 0.3px;
color: #252733;
margin-top: 16px;
margin-bottom: 16px;
}

label{
font-family: 'Mulish';
font-weight: 700;
font-size: 12px;
line-height: 15px;
letter-spacing: 0.3px;
text-transform: uppercase;
color: #252733;
}

@media screen and (max-width: 768px) {
    img{
        display: none;
    }
}
.mt-16{
    margin-top: 16px;
}