.map-container {
    margin-top: 16px;
}

.ml-16 {
    margin-left: 16px;
}

.p8 {
    padding: 8px;
}

.state-text {
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #252733;
}

.aquifer {
    display: flex;
    width: 100%;
    .aquiferContainer {
      flex: 6;
    }
  }
  